Django>=5.2,<7.0
djangorestframework>=3.18
django-filter>=25.2
django-cors-headers>=4.6
djangorestframework-simplejwt>=5.5
mysqlclient>=2.2
celery>=5.4
redis>=5.0
django-celery-results>=2.5
django-celery-beat>=2.7
flower>=2.0
Pillow>=10.0
django-environ>=0.14
